@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Famous Quotes Quiz</h1>
    <p>In the famous quote quiz game you will be showed famous quotes and depending on selected mode you should either try to pick the correct author name from 3 possible names or you will need to guess if the author name given is the correct one.</p>
</div>
