@model ResultViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="card text-center" style="width: 18rem;">
    @if (@Model.IsAnswerTrue)
    {
        <div class="green-background">
            <p>Correct!</p>
            <p>The right answer is:</p>
            <p>@Model.AuthorName.</p>
        </div>
    }
    else
    {
        <div class="pink-background">
            <p>Sorry, you are wrong!</p>
            <p>The right answer is:</p>
            <p>@Model.AuthorName.</p>
        </div>
    }

    <p><a class="card-link" asp-controller="Game" asp-action="IndexBinaryMode">Play more in binary mode</a></p>
    <p><a class="card-link" asp-controller="Game" asp-action="IndexMultipleChoicesMode">Play more in multiple choices mode</a></p>
    <p><a class="card-link" asp-controller="Review" asp-action="PersonalAchievements">Review Games</a></p>
</div>